<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<add key ="WB" value="Election_Tally"/>
		<add key="DB" value="Server=172.16.202.79;Database=WB_Election_2024;uid=sa;password=Republic@2017;"/>
		<add key="Layer" value="BACK_LAYER"/>
		<add key="Scene1" value="/TEST/RND_FOR_WASIM/ELECTION_2024/TJ_TALLY_LS_2024"/>
		<add key="VIZ-1" value="VIZ-1 | 172.16.215.60"/>
		<add key="VIZ-2" value="VIZ-2 | 172.16.204.111"/>
	</appSettings>
	
</configuration>